<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse bg-faded fixed-top">

    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" 
        data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand page-scroll" href="http://www.thinkbee.kr"><i class="fa fa-home" aria-hidden="true"></i>Thinkbee</a>
    <a class="navbar-brand" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    {% if page_paths %}
    <div class="collapse navbar-collapse justify-content-end" id="nav-content">
        <ul class="navbar-nav">
            {% for my_page in site.pages %}
            {% if my_page.title %}
            <li class="nav-item">
              <a class="nav-link" href="{{ my_page.url | prepend: full_base_url }}">{{ my_page.title | escape }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>

    {% endif %}
</nav>
