/*
 * Override Bootstrap's default container.
 */

@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $font-size-base * $ratio;
}


// Width of the content area

$on-palm:          600px !default;
$on-laptop:        800px !default;

$background-color: #fdfdfd !default;

$spacing-unit:  30px !default;
$footer-height: 4.5rem;

$small-font-size:  $font-size-base * 0.875 !default;
$base-line-height: 1.5 !default;


/*
 * TAG
 */
html {
  min-height: 100%;
}
body {
  font: $font-weight-base #{$font-size-base}/#{$base-line-height} $font-family-base;
  color: #111;
  padding-top: 1em;
  background-color: $background-color;
}


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


table, td, th {
    border: 1px solid #003300;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    border: 2px solid black;
}

td {
    padding: 1px 2px;
}


blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777; 
}

blockquote > :first-child {
  margin-top: 0; 
}

blockquote > :last-child {
  margin-bottom: 0; 
}

/*
 * Syntaxhighliting from minima
 */
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

// Import partials from minima
@import
  "minima/syntax-highlighting"
;
