---
layout: default
---

<div class="container-fluid">
  <div class="blog-post">
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <time class="post-meta" datetime="{{ post.date | date_to_rfc822 }}">
          {% assign date_format = site.minima.date_format | default: "%Y-%B-%-d" %}
          {{ post.date | date: date_format }}
        </time>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  </div>
</div>