---
layout: default
---

{% include google-adsense.html %}

<div class="container-fluid container row-floating">
  <div class="row blog-post">
    <!-- left panes -->
    <div class="col-md-8">
  
      <ul class="row-fluid clearfix post-list">
        {% for post in site.posts %}
          <li>
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            <span class="post-meta">{{ post.date | date: date_format }}</span>

            <h2>
              <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
          </li>
        {% endfor %}
      </ul>

    </div>

    
    <!-- right panes -->
    <div class="col-md">
      <div class="row-fluid clearfix row-floating">

        <ul>

          {% for post in site.posts limit:5 %}  
            <li class="nav-item"><a class="nav-link" href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>  
          {% endfor %}  

          <li class="nav-item pull-xs-right">
            <a class="nav-link" href="#">Link on the Right</a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>